{% extends 'security/index.twig' %}


{% block box %}
    <a class="box__info box__info--top-left" href="{{ app.baseUrl }}/register-login/" title="{{ 'global.goBack'|trans }}">
        <i class="fas fa-chevron-left"></i>
    </a>

    <h2>{{ 'auth.reset'|trans }}</h2>
    <form id="change-form" class="form form--animated" method="POST" action="">
        <p class="flash" data-message></p>

        <input name="email" type="hidden" value="{{ email }}" />
        <input name="token" type="hidden" value="{{ token }}" />

        <p id="change-password-help" class="form__text hidden">{{ 'auth.passwordHelp'|trans }}</p>

        <div class="form__row">
            <input id="change-password" class="form__input" name="password" type="password" placeholder="" required data-visible="change-password-help" />
            <span class="form__input--show" data-password="change-password" title="{{ 'auth.showPassword'|trans }}"></span>
            <label for="change-password" class="form__label">{{ 'auth.newPassword'|trans }}</label>
            <div class="password-strength hidden" data-password-strength>
                <div class="password-strength__item" title="{{ 'auth.passwordLow'|trans }}"></div>
                <div class="password-strength__item" title="{{ 'auth.passwordMedium'|trans }}"></div>
                <div class="password-strength__item" title="{{ 'auth.passwordStrong'|trans }}"></div>
                <div class="password-strength__item" title="{{ 'auth.passwordExcellent'|trans }}"></div>
            </div>
        </div>

        <div class="form__row">
            <input id="change-confirmation" class="form__input" name="password_confirmation" type="password" placeholder="" />
            <span class="form__input--show" data-password="change-confirmation" title="{{ 'auth.showPassword'|trans }}"></span>
            <label for="change-confirmation" class="form__label">{{ 'auth.passwordConfirmation'|trans }}</label>
        </div>

        <div class="form__row">
            <button class="form__button" type="submit">{{ 'global.confirm'|trans }}</button>
        </div>
    </form>
{% endblock %}