{% extends 'security/index.twig' %}


{% block box %}
    <a class="box__info box__info--top-left" href="{{ app.baseUrl }}/register-login/" title="{{ 'global.goBack'|trans }}">
        <i class="fas fa-chevron-left"></i>
    </a>

    <h2>{{ 'auth.hello'|trans }}</h2>
    <form id="register-form" class="form form--animated" method="POST" action="">
        <p class="flash" data-message></p>

        <input name="email" type="hidden" placeholder="Email" value="{{ email }}" />

        <div class="form__row">
            <input id="register-firstname" class="form__input" name="firstname" type="text" placeholder="" required />
            <label for="register-firstname" class="form__label">{{ 'auth.firstname'|trans }}</label>
        </div>

        <div class="form__row">
            <input id="register-lastname" class="form__input" name="lastname" type="text" placeholder="" required />
            <label for="register-lastname" class="form__label">{{ 'auth.name'|trans }}</label>
        </div>

        <p id="register-password-help" class="form__text hidden">{{ 'auth.passwordHelp'|trans }}</p>

        <div class="form__row">
            <input id="register-password" class="form__input" name="password" type="password" placeholder="" required data-visible="register-password-help" />
            <span class="form__input--show" data-password="register-password" title="{{ 'auth.showPassword'|trans }}"></span>
            <label for="register-password" class="form__label">{{ 'auth.password'|trans }}</label>
            <div class="password-strength hidden" data-password-strength>
                <div class="password-strength__item" title="{{ 'auth.passwordLow'|trans }}"></div>
                <div class="password-strength__item" title="{{ 'auth.passwordMedium'|trans }}"></div>
                <div class="password-strength__item" title="{{ 'auth.passwordStrong'|trans }}"></div>
                <div class="password-strength__item" title="{{ 'auth.passwordExcellent'|trans }}"></div>
            </div>
        </div>

        <div class="form__row">
            <input id="register-confirmation" class="form__input" name="password_confirmation" type="password" placeholder="" required />
            <span class="form__input--show" data-password="register-confirmation" title="{{ 'auth.showPassword'|trans }}"></span>
            <label for="register-confirmation" class="form__label">{{ 'auth.passwordConfirmation'|trans }}</label>
        </div>

        <div class="form__row">
            <button class="form__button" type="submit">{{ 'auth.register'|trans }}</button>
        </div>
    </form>
{% endblock %}